*{
    margin: 0;
    padding: 0;
    color: black;
    font-size: 16px;
    text-decoration: none;
    font-family: "Roboto Mono", monospace /* muy buena letra para portafolios */
    
}

.header-container{
    width: 100%;
    height: 120px;
    background-color: #1e4c94;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-container-logo{
    width: 200px;
    display: flex;
    justify-content: center;
    .header-logo{
    width: 70px;
    height: 70px; /* no puede ser mayor q el del padre que en este caso es de 120px */
    border-radius: 10px;
    background-color: #389af9;
    
        }
    .header-titulo {
    font-size: 50px;
    color: white;
    font-weight: 700px;
    margin-left: 10px;
    }
    
    }
    .header-nav a{
        color: rgb(240, 232, 232);
        margin-right: 10px ;
    } 
}


.main-container h1{
    text-align: center;
    font-size: 35px;
    margin-top: 200px;
    margin-bottom: 40px;

    
}

.main-container section:nth-child(2){
    width: 20%;
    height: 100%;
    position: absolute;
    left: 15%;
    margin-bottom: 30px;
 
    
}

.main-container section:nth-child(3){
    width: 60%;
    height: 100%;
    position: absolute;
    right: 10%;
}

.main-container section:nth-child(2) article:nth-child(1),
.main-container section:nth-child(2) article:nth-child(2),
.main-container section:nth-child(2) article:nth-child(3) {
    color: #1e4c94;
    height: 60%;
    width: 100%;
    
}
