*{
    margin: 0;
    padding: 0;
    color: black;
    font-size: 16px;
    text-decoration: none;
    font-family: "Roboto Mono",monospace; /* muy buena letra para portafolios */
    
}

.header-container{
    width: 100%;
    height: 120px;
    background-color: #1e4c94;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-container-logo{
    width: 200px;
    display: flex;
    justify-content: center;
    .header-logo{
    width: 70px;
    height: 70px; /* no puede ser mayor q el del padre que en este caso es de 120px */
    border-radius: 10px;
    background-color: #389af9;
    
        }
    .header-titulo {
    font-size: 50px;
    color: white;
    font-weight: 700px;
    margin-left: 10px;
    }
    
    }
    

    .header-nav a{
        color: rgb(240, 232, 232);
        margin-right: 10px ;
    }    
}

.main-container{
    width: 100%;
    height: calc(100vh - 120px) ; /* los 120 menos es por header-container */
    background-color:#162c55;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    .main-titulo{
    font-size: 90px;
    color: white;
    /* position: sticky;  sirve para dejar pegago algo en la pagina con el scroll*/
    }
    

    .main-descripcion{
        font-size: 30px;
        color: #bee3ff;
        margin-top: 10px;

    }

    .main-imagenes{
        height: 60px;
        display: flex;
        gap: 15px;
    }
    
}




